/**Styling scrollable elements*/

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in {
    animation: fade-in var(--scroll-animation) ease-in-out both;
    -webkit-animation: fade-in var(--scroll-animation) ease-in-out both;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
    -webkit-animation: slide-in-right 1s ease-in-out both;
}

.scrolled.scale-up-bl {
    animation: scale-up-bl var(--scroll-animation) cubic-bezier(0.39, 0.575, 0.565, 1) both;
    -webkit-animation: scale-up-bl var(--scroll-animation) cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-bl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

@keyframes scale-up-bl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

.scrolled.scale-up-tr {
    animation: scale-up-tr var(--scroll-animation) cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -webkit-animation: scale-up-tr var(--scroll-animation) cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

.scrolled.scale-up-tl {
    -webkit-animation: scale-up-tl var(--scroll-animation) cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-tl var(--scroll-animation) cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-tl {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0
    }
}

@keyframes scale-up-tl {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0
    }
}

.scrolled.scale-up-right {
    -webkit-animation: scale-up-right var(--scroll-animation) cubic-bezier(.39, .575, .565, 1.000) both;
    animation: scale-up-right var(--scroll-animation) cubic-bezier(.39, .575, .565, 1.000) both;
}

@-webkit-keyframes scale-up-right {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%
    }
}

@keyframes scale-up-right {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%
    }
}

.scrolled.scale-up-center {
    -webkit-animation: scale-up-center var(--scroll-animation) cubic-bezier(.39, .575, .565, 1.000) both;
    animation: scale-up-center var(--scroll-animation) cubic-bezier(.39, .575, .565, 1.000) both
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.scrolled.scale-up-hor-center {
    -webkit-animation: scale-up-hor-center var(--scroll-animation) cubic-bezier(.39, .575, .565, 1.000) both;
    animation: scale-up-hor-center var(--scroll-animation) cubic-bezier(.39, .575, .565, 1.000) both
}

@-webkit-keyframes scale-up-hor-center {
    0% {
        -webkit-transform: scaleX(.4);
        transform: scaleX(.4)
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes scale-up-hor-center {
    0% {
        -webkit-transform: scaleX(.4);
        transform: scaleX(.4)
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
    }
}

.scrolled.scale-up-ver-center {
    -webkit-animation: scale-up-ver-center var(--scroll-animation) cubic-bezier(.39, .575, .565, 1.000) both;
    animation: scale-up-ver-center var(--scroll-animation) cubic-bezier(.39, .575, .565, 1.000) both
}

@-webkit-keyframes scale-up-ver-center {
    0% {
        -webkit-transform: scaleY(.4);
        transform: scaleY(.4)
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@keyframes scale-up-ver-center {
    0% {
        -webkit-transform: scaleY(.4);
        transform: scaleY(.4)
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}


/* ------------------------- */

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}